<div class="row">
  <div class="col-2">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item"><a href="/" class="nav-link">Menu</a></li>
      <li class="nav-item"><a href="/clientes" class="nav-link">Clientes</a></li>
      <li class="nav-item"><a href="/productos" class="nav-link">Productos</a></li>
      <li class="nav-item"><a href="/pedidos" class="nav-link">Pedidos</a></li>
    </ul>
  </div>
  <div class="col-10">
    <!-- Aquí se rendereará el contenido específico de cada vista -->
  </div>
</div>
